.wrapper-two-page {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-image: url("../../../assets/background/2page.svg");
  background-repeat: no-repeat;
  width: 100%;
  background-size: cover;
}

.content-two-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  margin-bottom: calc(100vh - 90vh);
}

.two-page-title {
  margin-top: calc(100vh - 82.7vh);
  margin-bottom: calc(100vh - 82.7vh);

  color: #fff;
  font-size: 24px;
  font-weight: 500;
  line-height: 26px;
}

.two-page-text {
  font-size: 14px;
  line-height: 22px;
  color: #ffffff;
}

.two-page-text_first {
  margin-bottom: calc(100vh - 95.5vh);
}

.two-page-text_second {
  width: 70%;
  text-align: center;
  margin-bottom: calc(100vh - 94.45vh);
}

.two-page-btn-wrap {
  width: 75%;
  margin-bottom: calc(100vh - 94.45vh);
  display: flex;
  justify-content: space-between;
}

.two-page-slider-size {
  margin-bottom: calc(100vh - 94vh);

  display: flex;
  flex-direction: row;
}

.round-size-btn_margin {
  margin-right: 15px;
}

.two-page-bottom-btn-wrap .rectangle-button {
  width: 98px;
}

.two-page-btn-wrap .rectangle-button {
  width: 131px;
}

.two-page-slider-size .round-size-btn {

}


@media screen and (max-height: 666px) {
  .two-page-title {
    margin-top: calc(100vh - 88vh);
    margin-bottom: calc(100vh - 88vh);
  }
  .two-page-btn-wrap {
    width: 85%;
  }
  .two-page-slider-size {
    margin-bottom: calc(100vh - 90vh);
  }
}
