.wrapper-three-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-image: url("../../assets/background/3page.svg");
  background-repeat: no-repeat;
  width: 100%;
  background-size: cover;
}

.content-three-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: flex-end;

  margin-bottom: calc(100vh - 90vh);
}

.three-page-button-back {
  align-self: flex-end;
  margin-bottom: calc(100vh - 94.75vh);;
}

.three-page-button-back_wrap {
  margin-top: calc(100vh - 96.55vh);
  margin-right: calc(100vh - 93.55vh);
}

.three-page-title {
  margin: 0;
  margin-bottom: calc(100vh - 83.5vh);

  font-size: 24px;
  color: #ffffff;
  line-height: 26px;
}

.three-page-text {
  width: 80%;

  font-size: 14px;
  font-weight: 300;
  color: #ffffff;
  line-height: 22px;

  text-align: center;
}

.three-page-text_first {
  margin-bottom: calc(100vh - 87.1vh);
}

.three-page-text_second {
  margin-bottom: 15px;
}

.three-page-icon_arrow {
  margin-bottom: 12px;
}

.three-page-icon_arrow-image {
  width: 15px;
  height: 15px;
}

.three-page-setting {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 80%;
  margin-bottom: calc(100vh - 94vh);
}

.three-page-setting:after {
  position: absolute;
  content: '';
  width: 100%;
  height: 1px;
  background: rgb(125,154,187);
  background: linear-gradient(90deg, rgba(125,154,187,1) 0%, rgba(142,200,255,1) 50%, rgba(125,154,187,1) 100%);
  top: -7px;
  opacity: 0.25;
}

.three-page-setting:before {
  position: absolute;
  content: '';
  width: 100%;
  height: 1px;
  background: rgb(125,154,187);
  background: linear-gradient(90deg, rgba(125,154,187,1) 0%, rgba(142,200,255,1) 50%, rgba(125,154,187,1) 100%);
  top: 33px;
  opacity: 0.25;
}

.content-three-page .rectangle-button {
  width: 131px;
}

.three-page-button-back_wrap img {
  width: 15px;
  height: 14px;
}

@media screen and (max-height: 666px) {
  .three-page-title {
    margin-bottom: calc(100vh - 93vh);
  }
  .three-page-text_first {
    margin-bottom: calc(100vh - 90vh);
  }
  .three-page-icon_arrow {
    margin-bottom: 25px;
  }
}
