.product-card-small_wrap {
  display: flex;
  flex-direction: column;
  height: 212px;
  border-radius: 16px;

  background-color: #ffffff;
  margin: 0 0 15px 0;
}

.Panel--ios .product-card-small_wrap {
  width: 164px;
}

.Panel--android .product-card-small_wrap {
  width: 156px;
}


.product-card-small-pic_wrap {
  position: relative;
  margin-bottom: 8px;
}

.product-card-small-pic {
  width: 164px;
}

.product-card-small-sticker_wrap {
  position: absolute;
  top: 16px;
  left: 16px;
}

.product-card-small-sticker_wrap .icon-trend-wrap {
  width: 20px;
  height: 20px;
  background-color: #FFD064;
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;
}

.product-card-small-brand-logo_wrap {
  margin-left: 16px;
  width: 117px;
}

.product-card-small-brand-logo {

}

.product-card-small-brand-name {
  font-weight: 600;
  font-size: 10px;

  color: #AEBFCF;
  text-transform: uppercase;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.product-card-small-price_wrap {
  margin-left: 16px;
  margin-bottom: 7px;
}

.product-card-small-price_wrap .product-price_old {
  margin-right: 5px;
}

.product-card-small-price_wrap .product-price_new {
  font-weight: 400;
  margin-right: 5px;
}

.product-card-small-price_wrap .product-price_currency {
  font-weight: 500;
  font-size: 8px;
  margin-right: 6px;
  align-self: center;
}

.product-card-small-price_wrap .product-price_discount {

}



.product-card-small_footer {
  display: flex;
  flex-direction: row;
  margin-left: 16px;
  margin-bottom: 16px;
}

.product-card-small_footer .product-size-block-wrap {
  height: 14px;
}

.product-card-small_footer .product-size-block_img {
  width: 8px;
  height: 8px;
  margin: 0 2px;
}

.product-card-small_footer .product-size-block_content {
  font-size: 8px;
  margin-right: 2px;
}

.product-card-small_count-shop {
  align-self: center;

  margin-left: 5px;

  font-size: 8px;
  font-weight: 500;
  color: #AEBFCF;
}


























