.page-bullets_wrap {
  position: absolute;
  display: flex;
  justify-content: space-between;
  width: 46px;
  top: calc(100vh - 36px);
}

.page-bullets_dot {
  width: 6px;
  height: 6px;
  background-color: #ffffff;
  border-radius: 50%;
  opacity: 0.56;
}
